/**
 * shelly - A pure and vanilla shell-like interface for the web.
 * 
 * @author Er Galvão Abbott <galvao@galvao.eti.br>
 * @version 0.3.0-beta
 * @link https://github.com/galvao-eti/shelly
 */

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: rgb(32, 32, 32);
}

a {
    text-decoration: none;
}

img {
    width: 1.5vw;
    margin-left: 2px;
    margin-right: 2px;
}

.linkascii {
    text-align: center;
    font-size: 0.1vw;
    color: rgb(0, 255, 0);
}

.motd {
    text-align: center;
    font-size: 0.75vw;
    color: rgb(0, 255, 0);
}

.prompt, .readline, .data {
    font-size: 1vw;
    color: rgb(0, 255, 0);
    cursor: text;
}

.readline {
    border: 0;
    width: 80vw;
    background-color: rgb(32, 32, 32);
}

.readline:focus {
    outline: none;
}

input[disabled] {
    outline: none;
}