"use strict";

/**
 * shelly - A pure and vanilla shell-like interface for the web.
 * 
 * @author Er Galvão Abbott <galvao@galvao.eti.br>
 * @version 0.1.0-alpha
 * @link https://github.com/galvao-eti/shelly
 */

var CONFIG = CONFIG || (function () {
    let message = " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%%%%%  %%%%%%%   %%%%%%%%%%%%%%%%%%%%%%%%      %%%%%%%      %%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%%%      %%%%%   %%%%%%%%%%%%%%%%%%%%%%%%%%%   %%%%%%%%%%   %%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%  %%  %  %%%%   %    %%%%%%%%     %%%%%%%%%   %%%%%%%%%%%  %%%%%%%   %%%%%%   %%%%% \n";
    message += " %%%%%  %   %%%%%%%          %%%%         %%%%%%%   %%%%%%%%%%%  %%%%%%%    %%%%    %%%%% \n";
    message += " %%%%%       %%%%%%   %%%%   %%%   %%%%%   %%%%%%   %%%%%%%%%%%  %%%%%%%%    %%%   %%%%%% \n";
    message += " %%%%%%%        %%%   %%%%%  %%%           %%%%%%   %%%%%%%%%%%  %%%%%%%%%    %   %%%%%%% \n";
    message += " %%%%%%%%%  %%  %%%   %%%%%  %%%   %%%%%%%%%%%%%%   %%%%%%%%%%%  %%%%%%%%%%       %%%%%%% \n";
    message += " %%%%%  %%  %   %%%   %%%%%  %%%%   %%%%%  %%%%%%   %%%%%%%%%%%   %%%%%%%%%      %%%%%%%% \n";
    message += " %%%%%         %%%%   %%%%%  %%%%%         %%%%%%%      %%%%%%%%      %%%%%%    %%%%%%%%% \n";
    message += " %%%%%%%%%  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%   %%%%%%%%%% \n";
    message += " %%%%%%%%%  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%     %%%%%%%%%%% \n";
    message += " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%   %%%%%%%%%%%%% \n";
    message += " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% \n";

    return {
        "MOTD": message,
        "user": {
            "name": "guest",
            "qualifier": "$"
        },
        "API": {
            "method": "GET",
            "proto": "https",
            "proto_separator": "://",
            "address": "my-api-address.com",
            "port": "",
            "url_separator": "/",
            "endpoint": "",
            "CORS": true
        }
    };
}());