"use strict";

/**
 * shelly - A pure and vanilla shell-like interface for the web.
 * 
 * @author Er Galvão Abbott <galvao@galvao.eti.br>
 * @version 0.3.0-beta
 * @link https://github.com/galvao-eti/shelly
 */

var shellyConfig = shellyConfig || (function () {
    let message = " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%%%%%  %%%%%%%   %%%%%%%%%%%%%%%%%%%%%%%%      %%%%%%%      %%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%%%      %%%%%   %%%%%%%%%%%%%%%%%%%%%%%%%%%   %%%%%%%%%%   %%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%  %%  %  %%%%   %    %%%%%%%%     %%%%%%%%%   %%%%%%%%%%%  %%%%%%%   %%%%%%   %%%%% \n";
    message += " %%%%%  %   %%%%%%%          %%%%         %%%%%%%   %%%%%%%%%%%  %%%%%%%    %%%%    %%%%% \n";
    message += " %%%%%       %%%%%%   %%%%   %%%   %%%%%   %%%%%%   %%%%%%%%%%%  %%%%%%%%    %%%   %%%%%% \n";
    message += " %%%%%%%        %%%   %%%%%  %%%           %%%%%%   %%%%%%%%%%%  %%%%%%%%%    %   %%%%%%% \n";
    message += " %%%%%%%%%  %%  %%%   %%%%%  %%%   %%%%%%%%%%%%%%   %%%%%%%%%%%  %%%%%%%%%%       %%%%%%% \n";
    message += " %%%%%  %%  %   %%%   %%%%%  %%%%   %%%%%  %%%%%%   %%%%%%%%%%%   %%%%%%%%%      %%%%%%%% \n";
    message += " %%%%%         %%%%   %%%%%  %%%%%         %%%%%%%      %%%%%%%%      %%%%%%    %%%%%%%%% \n";
    message += " %%%%%%%%%  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%   %%%%%%%%%% \n";
    message += " %%%%%%%%%  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%     %%%%%%%%%%% \n";
    message += " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%   %%%%%%%%%%%%% \n";
    message += " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% \n";
    message += " %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% v0.3.0-beta %%%%% \n";

    let config = {
        "debug": false,
        "MOTD": message,
        "user": {
            "name": "guest",
            "qualifier": "$"
        },
        "API": {
            "method": "POST",
            "proto": "https",
            "protoSeparator": "://",
            "address": "",
            "port": null,
            "urlSeparator": "/",
            "endpoint": "",
            "CORS": true
        },
        "history": {
            "maxLength": 50,
            "useLocalStorage": true,
            "storeDuplicates": false
        }
    };

    return JSON.stringify(config);
}());